{% extends 'base.html'%}
{%block title%}My block {%endblock%}
{%block msg%} Nazaneen Baguaei {%endblock%}
{%block content%}
<h2 class="subtitle">Create a block</h2>
<form action="/add_blog" method="post">
    <input type="text" name="username" placeholder="Type username" required>
    <input type="email" name="email" placeholder="Enter email" required>
    <input type="text" name="title" placeholder="Blog title" required>
    <textarea name="content" placeholder="Write your blog..." required></textarea>
    <button type="submit">Submit post</button>
</form>

{%endblock%}